<% content_for :head do %>
    <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false' %>
    <script type="text/javascript">
          var stockholm = new google.maps.LatLng(59.32522, 18.07002);
          var parliament = new google.maps.LatLng(59.327383, 18.06747);
          var markers = [];
          var map;

          function map() {
            var mapOptions = {
              zoom: 13,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              center: stockholm
            };
            map = new google.maps.Map(document.getElementById("map"),
                    mapOptions);
          }

          function addMarker(id, lat, lng) {
            var position = map.getCenter();
            if (lat != null && lng != null) {
                position = new google.maps.LatLng(lat, lng);
            }
            var marker = new google.maps.Marker({
              map: map,
              draggable: true,
              animation: google.maps.Animation.DROP,
              position: position
            });
            marker.id = id;
            $('#' + id + '_lat').val(marker.getPosition().lat());
            $('#' + id + '_lng').val(marker.getPosition().lng());
            google.maps.event.addListener(marker, 'dragend', function() {
                $('#' + this.id + '_lat').val(marker.getPosition().lat());
                $('#' + this.id + '_lng').val(marker.getPosition().lng());
            });
            markers.push(marker);
          }

          function removeMarker(id) {
            for(index in markers) {
                var marker = markers[index];
                if(marker.id == id) {
                    marker.setMap(null);
                }
            }
          }
    </script>
<% end %>

<div id="trip-new">
  <div id="trip-form">
    <% unless f.object.errors.empty? %>
    <ul class="errors">
      <% f.object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
    <div class="field">
      <%= f.label :name, 'Nazwa' %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description, 'Opis' %>
      <%= f.text_area :description, :style => 'height: 150px; width: 350px' %>
    </div>
  </div>
  <div id="map">
    map
  </div>
  <div class="clear"></div>
  <h2>Punkty</h2>
  <div id="points">
    <% f.object.points.each_with_index do |point, index| %>
        <%= render :partial => 'trips/point', :locals => { :f => f, :object => point, :index => index } %>
    <% end %>
  </div>
  <div id="point-new">
    <%= link_to_new_point 'Dodaj punkt', f %>
  </div>
  <div style="text-align: center"><%= f.submit('Zapisz', :class => 'btn btn-large btn-success') %></div>
</div>

