<div class='point'>
  <%= f.fields_for :points, object, :child_index => index do |fields| %>
    <%= fields.hidden_field :lat %>
    <%= fields.hidden_field :lng %>
    <div class='field'>
      <%= fields.label :name, 'Nazwa punktu' %>
      <%= fields.text_field :name %>
    </div>
    <div class='field'>
      <%= fields.label :description, 'Opis' %>
      <%= fields.text_area :description, :style => 'height: 100px; width: 500px' %>
    </div>
    <% unless object.new_record? %>
    <div class='field'>
      <%= fields.check_box :_destroy %>
      <%= fields.label :_destroy, 'Usuń punkt' %>
      lub
      <%= link_to_function 'Pokaż na mapie', %{ map.setCenter(new google.maps.LatLng(#{object.lat}, #{object.lng}))
        } %> <!-- Wcześniej była tu funkcja (ale w ogóle nie działała): addMarker("trip_points_attributes_#{index}", #{object.lat}, #{object.lng}); teraz jest to, ale nie wyświetla punktu, tylko centruje na niego mapę. -->
    </div>
    <% end %>

  <% end %>
  <% if object.new_record? %>
    <div class='links'>
      <%= link_to_function 'Usuń', "$(this).parent().parent().remove(); removeMarker('trip_points_attributes_#{index}')" %>
    </div>
  <% end %>
  <% javascript_tag do %>
    addMarker("trip_points_attributes_<%= index %>");
  <% end %>
</div>

