<% content_for :head do %>
    <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?sensor=false' %>
    <%= javascript_tag do %>
          var markers = [];
          var map;

          function map() {
            var first = new google.maps.LatLng(<%= @trip.points.first.lat %>, <%= @trip.points.first.lng %>);
            var mapOptions = {
              zoom: 13,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              center: first
            };
            map = new google.maps.Map(document.getElementById("map"),
                    mapOptions);
          <% @trip.points.all.each do |point| %>
            new google.maps.Marker({
              map: map,
              draggable: true,
              animation: google.maps.Animation.DROP,
              position: new google.maps.LatLng(<%= point.lat %>, <%= point.lng %>)
            });
          <% end %>
          }
    <% end %>
<% end %>

<h1><%= @trip.name %></h1>
<%= link_to 'Edytuj', edit_trip_path(@trip) if current_user && current_user.admin? %>
<div class='description'>
  <%= @trip.description %>
</div>
<div id='map' style='width: 99%; height: 200px'>
  Map
</div>
<h3>Punkty</h3>
<div id='points'>
  <% @trip.points.all.each do |point| %>
  <div class='point' id='point-<%= point.id %>'>
    <div class='name description'>
      <h4><%= point.name %></h4><br/>
      <%= point.description %>
      <%= link_to_function 'Wskaż na mapie', %{ map.setCenter(new google.maps.LatLng(#{point.lat}, #{point.lng})) } %>
    </div>
  </div>
  <% end %>
</div>
