<div class="row">
<div class="span8 offset3">
<fieldset>
  <legend>Edycja profilu</legend>
  <%= form_for @user do |f| %>
  <!-- komunikaty błędów -->
  <% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %> </li>
  <% end %>
  </ul>
  <% end %>
  <div class="clearfix">
    <%= f.label :fullname, "Pełne imię" %>
    <%= f.text_field(:fullname, :class => "xlarge", :size => "30") %>
  </div>
  <div class="clearfix">
    <%= f.label :email, "E-mail" %>
    <%= f.text_field(:email, :class => "xlarge", :size => "30") %>
  </div>
  <div class="clearfix">
  <%= f.label :obio, "O mnie" %>
  <%= f.text_area(:bio, :rows => "3") %>
  </div>
  <div class="clearfix">
  <%= f.label :location, "Miejsce pobytu" %>
  <%= f.text_field(:location, :class => "xlarge", :size => "30") %>
  </div>
  <p><legend>Zmiana hasła</legend>
  <p><span class="label warning">nie wpisuj nic w poniższych dwóch polach, jeśli nie chcesz zmieniać hasła.</span></p></center>
  <div class="clearfix">
  <%= f.label :password, "Nowe hasło" %>
  <%= f.password_field(:password, :class => "xlarge", :size => "30") %>
  </div>
  <div class="clearfix">
  <%= f.label :password_confirmation, "Potwierdź nowe hasło" %>
  <%= f.password_field(:password_confirmation, :class => "xlarge", :size => "30") %>
  </div>
  <div class="actions"><%= f.submit("Zapisz zmiany", :class => "btn primary" ) %> </div>
  <% end %>
</fieldset>
</div>
</div>
