<div class="row">
<div class="span8 offset3">
<fieldset>
  <legend>Edycja profilu</legend>
  <%= form_for @user do |f| %>
  <!-- komunikaty błędów -->
  <% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %> </li>
  <% end %>
  </ul>
  <% end %>
  <div class="clearfix">
    <%= f.label :pełne_imię %>
    <%= f.text_field :fullname %>
  </div>
  <div class="clearfix">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="clearfix">
  <%= f.label :o_mnie %>
  <%= f.text_area(:bio, :rows => "3") %>
  </div>
  <div class="clearfix">
  <%= f.label :gdzie_obecnie_przebywasz? %>
  <%= f.text_field :location %>
  </div>
  <p><center><h5>Zmiana hasła</h5>
  <p><span class="label notice">nie wpisuj nic w poniższych dwóch polach, jeśli nie chcesz zmieniać hasła.</span></p></center>
  <div class="clearfix">
  <%= f.label :nowe_hasło %>
  <%= f.password_field :password %>
  </div>
  <div class="clearfix">
  <%= f.label :potwierdź_nowe_hasło %>
  <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions"><%= f.submit("Zapisz zmiany", :class => "btn primary" ) %> </div>
  <% end %>
</fieldset>
</div>
</div>
