<ul class="nav nav-pills big">
  <li class><%= link_to 'Podróże', trips_path %></li>
  <li class="active"><%= link_to 'Tripsterzy', users_path %></li>
  <span class="pull-right">
    <%= link_to('Dodaj podróż', new_trip_path, :class => "btn btn-success btn-large") %>
  </span>
</ul>
<% if notice %><p id="notice"><%= notice %></p><% end %>
<div id="users">
<% @users.each do |user| %>
  <div class="user row">
    <div class="span2 avatars">
    <%= image_tag user.avatar_url(:thumb).to_s %>
    </div>
    <div class="span8">
      <div class="about pull-left">
        <h2 class="nextto"><%= link_to "#{user['login']}", user_path(user.id) %>
        <% unless user.fullname.nil? || user.fullname.empty? %>
          &nbsp;<small><%= user.fullname %></small>
        <% end %></h2>
        <% unless user.location.nil? || user.location.empty? %>
          <div><%= user.location %></div>
        <% end %>
        <% unless user.bio.nil? || user.bio.empty? %>
          <div><i><%= simple_format(user.bio) %></i></div>
        <% end %>
      </div>
      <span class="pull-right">
      <% if current_user && (current_user==user || current_user.admin?) %>
        <%= link_to image_tag("edit.png", :size => "32x32", :title => "Edytuj profil"), edit_user_path(user) %>
      <% end %>
      <% if current_user && current_user.admin? && current_user!=user %>
        <%= link_to image_tag("delete.svg", :size => "32x32", :title => "Usuń użytkownika"), user, :confirm => "Na pewno chcesz usunąć użytkownika?", :method => :delete%>
      <% end %>
      </span>
    </div>
  </div>
<% end %>
</div>

