<ul class="nav nav-pills big">
  <li class><%= link_to 'Podróże', trips_path %></li>
  <li class="active"><%= link_to 'Tripsterzy', users_path %></li>
  <span class="pull-right">
    <%= link_to('Dodaj podróż', new_trip_path, :class => "btn btn-success btn-large") %>
  </span>
</ul>
<% if flash[:error] %>
<div class="alert alert-error">
  <%= flash[:error] %>
  <a class="close" href="/users">×</a>
</div>
<% end %>
<% if flash[:info] %>
<div class="alert alert-info">
  <%= flash[:info] %>
  <a class="close" href="/users">×</a>
</div>
<% end %>
<% if flash[:success] %>
<div class="alert alert-success">
  <%= flash[:success] %>
  <a class="close" href="/users">×</a>
</div>
<% end %>
<div id="users">
  <div class="user row">
  <% @users.each_with_index do |user, i| %>
    <div class="span4">
      <div class="span2">
      <% if user.avatar? %>
      <%= link_to image_tag(user.avatar_url(:thumb).to_s, :title => "Awatar użytkownika #{user['login']}", :alt => "Awatar użytkownika #{user['login']}"), user_path(user.id) %>
      <% else %>
        <%= image_tag("/assets/default_avatar.jpg", :title => "Defaultowy awatar", :alt => "Defaultowy awatar") %>
      <% end %>
      </div>
      <div class="span2 about">
        <h3 class="nextto"><%= link_to "#{user['login']}", user_path(user.id) %></h3>
        <% unless user.fullname.nil? || user.fullname.empty? %>
          <div><h4><%= user.fullname %></h4></div>
        <% end %>
        <% unless user.location.nil? || user.location.empty? %>
          <div><%= user.location %></div>
        <% end %>
      </div>
    </div>
    <% if (i+1)%3 == 0 %>
  </div>
  <div class="user row">
    <% end %>
  <% end %>
  </div>
</div>
<%= paginate @users %>

