<ul class="nav nav-pills big">
  <li class><%= link_to 'Podróże', trips_path %></li>
  <li class="active"><%= link_to 'Tripsterzy', users_path %></li>
  <span class="pull-right">  
    <%= link_to('Dodaj podróż', new_trip_path, :class => "btn btn-success btn-large") %>
  </span>
</ul>
<p id="notice"><%= notice %> </p>
<div id="users">
<% @users.each do |user| %>
  <div class="user">
    <%= image_tag("default_avatar.jpg", :alt=> "Defaultowy avatar", :title=> "Defaultowy avatar", :size => "80x80", :class => "avatar-small") %>
    <%= link_to "#{user['login']}", user_path(user.id) %>
    <% if current_user && current_user.admin? && current_user!=user %>
        <%= link_to "Usuń", user, :confirm => "Na pewno chcesz usunąć użytkownika?", :method => :delete %>
    <% end %>
  </div>
<% end %>
</div>
