<div class="row">
<div class="span8 offset3">
<fieldset>
  <legend>Rejestracja konta</legend>
  <%= form_for @user do |f| %>
    <!-- komunikaty błędów -->
    <% if @user.errors.any? %>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %> </li>
    <% end %>
    </ul>
    <% end %>
    <div class="clearfix">
      <%= f.label :login, "Login" %>
      <%= f.text_field :login %>
    </div>
    <div class="clearfix">
      <%= f.label :password, "Hasło" %>
      <%= f.password_field :password %>
    </div>
    <div class="clearfix">
      <%= f.label :password_confirmation, "Potwierdź hasło" %>
      <%= f.password_field :password_confirmation %>
    </div>
    <div class="actions">
    <%= f.submit("Stwórz konto!", :class => "btn primary") %>
    </div>
  <% end %>
<fieldset>
</div>
</div>
