<%= form_for [@imageable, @picture], :html => {:multipart => true} do |f| %>
  <% if @picture.errors.any? %>
    <ul class="errors" style="text-align: center;">
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

    <% if @picture.image? %>
      <div class="spaced">
        <%= image_tag(@picture.image_url(:picture)) %>
      </div>
    <% end %>
    <p><%= f.file_field :image %></p> <%= f.hidden_field :image_cache %>
    <p><%= f.submit('Zapisz', :class => "btn") %></p>
<% end %>

