<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Tripster</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    /* Override some defaults */
    html, body {
    background-color: #eee;
    }
    
    body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
    }
    
    .container > footer p {
    text-align: center; /* center align it with the container */
    color: #BFBFBF;
    padding-top: 15px;
    }

    /* The white background content wrapper */
    .content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
    }
    
    /* Page header tweaks */
    .page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 5px;
    margin: -20px -20px 20px;
    }
    
    a:hover { text-decoration: none; }
    
    .field { margin-bottom: 8px; }
    
    .field > input { margin-bottom: 0px; }
    
    .field > p.help-block { margin-top: 0px; }
    
  </style>
  <%= yield :head %>
</head>
<body onload="if(typeof map == 'function') { map() }">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/users">tripster</a>
        <div class="pull-right">
          <ul class="nav">
          <% unless current_user %>
          <li class><%= link_to "Zarejestruj się", new_user_path %></li>
          <li class><%= link_to "Zaloguj", new_user_sessions_path %></li>
          <% end %>
          <% unless current_user.nil? %> 
          <li class><%= link_to "Witaj, #{current_user['login']}", user_path(current_user.id) %></li>
          <li class><%= link_to "Wyloguj", user_sessions_path, :method => :delete %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <div class="links">
        <%= link_to 'Ostatnio dodane', trips_path %>
        &middot;
        <%= link_to 'Dodaj podróż', new_trip_path %>
      </div>
      <%= yield %>
    </div> <!-- /content -->
    <footer>
        <p>&copy; Barbara Żądło &amp; Julia Jacobs 2012</p>
    </footer>    
  </div>  <!-- /container -->  
</body>
</html>
